body {
    margin: 0px;
}

.row {
    width: 100%;
    height: 100px;
}

.first {
    background-color: rgb(214, 214, 214);
    padding: 10px;
}

.blue-box {
    background-color: rgb(76, 127, 236);
    height: 100%;
    width: 90px;
    margin-left: 20px;
}

.second {
    background-color: white;
    height: 200px;
    padding: 50px;
    box-sizing: border-box;
    margin: auto;
}

.paragraph {
    font-family: sans-serif;
    font-size: 0.55cm;
    text-align: center;
    margin: auto;

}

.third {
    background-color: rgb(76, 127, 236); 
}

.fourth {
    background-color: aqua;
}

.fifth {
    background-color: rgb(191, 248, 168);
}

.sixth {
    background-color: yellow;
}
